<% if @booking.length > 0   %>
  <div class="jumbotron">
    <h4 class="text-center">It seems like you already have a car in the booking state.
    Please manage it before booking a new one</h4>
  </div>
<% else %>
  <h1>Listing Cars</h1>
    <%= render 'search' %><br><br>
  <table class="table">
    <tr>
      <th>Model</th>
      <th>Manufacturer</th>
      <th>Number</th>
      <th>Style</th>
      <th>Rate</th>
      <th>Location</th>
      <th>Action</th>
      <th>Current Status<br> (<%= Time.now.to_time.strftime("at %I:%M%p")%>)</th>
      <% if current_user.try(:admin?) or current_user.try(:superadmin?) %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.model %></td>
        <td><%= car.manufacturer %></td>
        <td><%= car.number %></td>
        <td><%= car.style %></td>
        <td><%= car.rate %></td>
        <td><%= car.location %></td>
        <td><%= link_to "Book", new_car_booking_path(car) %></td>
        <% if !current_user.try(:user?) %>
          <td><%= car.status.html_safe %> <br>
            <small><i><%= link_to "All Bookings", car_history_path(:car_id => car.id), method: :get %></i></small>
                <% end %>
        <% if (current_user.try(:admin?) or current_user.try(:superadmin?))%>   <!-- and car.status == "Available"   //need to confirm this-->
            <td><%= link_to "Edit", edit_car_path(car) %></td>
          <td><%= link_to "Delete", car, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>


<% end %>
<% if current_user.try(:admin?) or current_user.try(:superadmin?) %>
  <p>
    <%= link_to 'Add Car', new_car_path, class: 'btn btn-primary' %>
    <%= link_to "Back", :back, class: 'btn btn-primary' %>
  </p>
<% end %>
